div(id="search_form")
	script.
		initForm ()
		
	-var airports={"SYD":"Sydney","MEL":"Melbourne","BNE":"Brisbane","PER":"Perth","ADL":"Adelaide","HBA":"Hobart","DRW":"Darwin"}
		
	form(action="/", method="POST", name="search", id="search")
		div(id="tabs")
			div(class="tab")
				input(type="radio",id="return_trip_0",name="return_trip", value="0", checked=(!req || req.return_trip==0), onclick="toggleReturnDate()")
				label(id="l_return_trip_0",for="return_trip_0") One way
			div(class="tab")
				input(type="radio",id="return_trip_1",name="return_trip", value="1", checked=(req && req.return_trip==1), onclick="toggleReturnDate()")
				label(id="l_return_trip_1",for="return_trip_1") Return

		div(id="fields")
			label(id="l_from", for="from") From:
			select(id="from",name="from", onchange="updateDest()")
				option(value="")= "-- Select --"
				each name,code in airports
					option(value=code, selected=(req && req.from==code))= name
							
			label(id="l_to", for="to") To:
			select(id="to",name="to", disabled=!req)
				option(value="")= "-- Select --"
				if req
					each name,code in airports
						if req.from!=code
							option(value=code, selected=(req.to==code))= name
			
			label(id="l_date_from", for="date_from") Departure date:
			input(type="text",id="date_from",name="date_from", value=req?req.date_from:'')
			
			label(id="l_date_back", for="date_back") Return date:
			input(type="text",id="date_back",name="date_back", value=req?req.date_back:'')
				
			label(id="l_passengers", for="passengers") Passengers:
			select(id="passengers",name="passengers")
				each i in [1,2,3,4,5,6]
					option(selected=(req && req.passengers==i))=i
					
			button(onclick="validateForm(document.forms.search);return false;") Search

			if req
				div(id="price_slider")
					label Refine results by price:
					span(id="min_price") #{min_price}
					span(id="max_price") #{max_price}
					div(id="slider")
